 /* ================ Heart Button Stuff ================== */
 #heart_container{
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-image: url("./images/heartGrey.svg");
    background-repeat: no-repeat;
}
#heart_container:active,.pixel__heart-slidein:active, .pixel__heart-slideout:active{
    background-size: 23px;
    background-position: 1px 1px;
}
#heart_container:hover,.pixel__heart-slidein:hover, .pixel__heart-slideout:hover{
    opacity: 0.8;
}

.pixel__heart-slidein  { animation-name: slidein; animation-timing-function: ease-out; }
.pixel__heart-slideout { animation-name: slideout; animation-timing-function: linear; }


.pixel__heart-slidein, .pixel__heart-slideout {
    animation-duration: 1.5s;

    animation-fill-mode: forwards;
    background-clip: content-box;
    background-image: url("./images/heartColor.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixelHeart-shadow{
    height: 50%;
    width: 50%;
    border-radius: 35px;
    animation: shadow 0.3s linear 1.2s 1 normal forwards;
}
/* .pixel__heart { display: none; } */

@keyframes slidein {
    from { padding-top: 100%; }
    to { padding-top: 0%; }
}

@keyframes slideout {
    from { padding-top: 0%; }
    to { padding-top: 100%; }
}

@keyframes shadow {
      0% {  box-shadow: 0 0 0px rgb(255, 0, 0) }
     50% {  box-shadow: 0 0 30px rgb(255, 0, 0) }
    100% {  box-shadow: 0 0 0px rgb(255, 0, 0) }
}
