@import  "./heart.css";


.container {
    margin-top: -8px;
    display: grid;
    grid-template-columns: 1fr 1108px 1fr;
    z-index: -88;
}
.container--empty{
    /* background-color: darkblue; */
}
.container--main{
    background-color:#888888;
    box-shadow:  0px 5px 5px inset rgba(0, 0, 0, 0.4);
}

.trending--img {
    margin: 10px 0 0 35px;
}

.trending-container {
    width: 1108px;
   display: flex;
   justify-content: center;
}
.trending-element-container{
    margin: 15px 0 15px 0;
    width: 1038px;
    display: flex;
    justify-content: space-between;
}

.trending--element {
    width: 195px;
    height: 176px;
    background-image: url('../images/animatedBackground3.gif');
    background-size: 100%;
    image-rendering: pixelated;
}


hr {
    border: 2px solid rgb(114, 114, 114);
    margin: 35px
}

.mainContent--container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    width: 1038px;
    margin: 0 auto;
}

.storiesColumn--container {
    width: 100%;
    /* height: 99px; */
    /* background-color: seashell; */
}

.discoverMoreColumn--container {
    width: 100%;
    /* background-color: rgb(29, 43, 102); */

}

.story--container {
    width: 100%;
    background-color: rgb(88, 88, 88);
    height: 188px;
    margin: 15px 3px 5px 0;
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.story--text{
    /* background-color: rgb(16, 97, 172); */
    /* display: grid; */
    padding: 15px
}

.storyThumbnail--container{
    /* width: 60px;
    height: 60px; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.storyThumbnail {
    width: 138px;
    height: 138px;
    box-shadow: 3px 3px 8px black inset;
    background-image: url('../images/mariocark.jpg');
    background-size: 100%;
}
.storyThumbnail img {
    width: 88px;
    height: 88px;
}
.category {
    font-weight: bold;
    color: #FFB43D;
    font-size: 25px;
    display: inline;
    margin: 0;
}
.title {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    display: inline;
    margin: 0 0 0 5px;
}
.summary {

    color: #ffffff;
    margin-top: 35px;
    align-self: baseline;
}



.discoverMore--container {
    /* width: 100%; */
    display: grid;
    grid-template-rows: 1fr 5fr;
    /* height: 90px; */
    background-color: rgb(88, 88, 88);
    height: 355px;
    margin: 15px 0 5px 13px;
    box-shadow: 0 0 5px black;
}

.discoverMoreTitle--container {
    justify-content: center;
    display: flex;
    justify-content: center;
    /* background-color: cornflowerblue; */
}

.discoverMoreLinks--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    column-gap: 5px;
    row-gap: 5px;
    /* background-color: darkgreen; */
    height: 268px;

}
.discoverMore--bottom {
    justify-content: center;
    /* background-color: darkred; */
}

.discoverMoreLinks{
    width: 84px;
    height: 84px;
    background-color: rgb(124, 124, 124);
    box-shadow: 0 0 5px black inset;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px black;
}
.discoverMoreLinks:hover {
    background-color: rgb(144, 144, 144);
}

h2 {
    color: rgb(226, 125, 88);
}

a.genreSelect:link{
    text-decoration: none;
}
