extends layout


append head
	link(rel="stylesheet" href="/stylesheets/404.css")
//-Zach
block content
	.spacer
	.container
		.container--empty
			.title--container
				h1 Your webpage has fallen into the void
			.four--container
				img(src="../images/404.svg", alt="" class="logo404")
			.message--container
				p How did you get here? You must be lost!

//-Felipe
//- append head

//-     link(rel="stylesheet" href="/stylesheets/not-found.css")
//- block content
//-     .spacer
//-     .container
//-         .dancers
//-             img(src="https://media.tenor.com/images/ce37eaf3d212a52c5f276ad98e6540b7/tenor.gif")
//-             img(src="https://media.tenor.com/images/fbe1fa04ab37ca19d3930e708be69595/tenor.gif")
//-             img(src="https://media.tenor.com/images/ce37eaf3d212a52c5f276ad98e6540b7/tenor.gif")
//-         .title--container
//-             div=''
//-             h1='Page Not Found!'
