extends layout
append head

    link(rel="stylesheet" href="/stylesheets/not-found.css")
block content
    .spacer
    .container
        .dancers
            img(src="https://media.tenor.com/images/ce37eaf3d212a52c5f276ad98e6540b7/tenor.gif")
            img(src="https://media.tenor.com/images/fbe1fa04ab37ca19d3930e708be69595/tenor.gif")
            img(src="https://media.tenor.com/images/ce37eaf3d212a52c5f276ad98e6540b7/tenor.gif")
        .title--container
            div=''
            h1='Page Not Found!'
