extends layout

append head
  //- add page specific styles by appending to the head
  //- link(rel="stylesheet" href="/stylesheets/heart.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  //- script(src="/javascripts/heart.js" type="module" defer)
  script(src="/javascripts/index.js" type="module" defer)

block content
  .spacer
  .container
    .container--empty
    .container--main
      img(src="../images/trending.jpg", alt="trending" class="trending--img")

      .trending-container
        .trending-element-container
          //- Javascript will fill this in
      hr

      .mainContent--container
        .storiesColumn--container
         //- Javascript will fill this in
        .discoverMoreColumn--container
          .discoverMore--container
            .discoverMoreTitle--container
              h2 Discover More
            .discoverMoreLinks--container
              div(class="discoverMoreLinks" id="Platformer") Platformer
              div(class="discoverMoreLinks" id="Shooter") Shooter
              div(class="discoverMoreLinks" id="Fighting") Fighting
              div(class="discoverMoreLinks" id="Stealth") Stealth
              div(class="discoverMoreLinks" id="Survival") Survival
              div(class="discoverMoreLinks" id="MMORPG") MMORPG
              div(class="discoverMoreLinks" id="Artillery") Artillery
              div(class="discoverMoreLinks" id="Idle") Idle
              div(class="discoverMoreLinks" id="Racing") Racing
              div(class="discoverMoreLinks" id="Wargame") Wargame
              div(class="discoverMoreLinks" id="RPG") RPG
              div(class="discoverMoreLinks" id="4X") 4X




















    .container--empty
