extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .spacer
  .container
    .container--empty
    .container--main
      img(src="../images/trending.jpg", alt="trending" class="trending--img")

      .trending-container
        .trending-element-container

          //- .trending--element
          //-   .number 1
          //-   .trending--title Super Mario 3D
          //-   .trending--like 23
          //-   img(src="../images/trendingStoriesOverlay.png", class="trending--overlay" alt="")
          //-   img(src="../images/heartColor.svg" class="trending--heart")

          //- .trending--element
          //-   img(src="../images/trendingStoriesOverlay.png", alt="")
          //- .trending--element
          //-   img(src="../images/trendingStoriesOverlay.png", alt="")
          //- .trending--element
          //-   img(src="../images/trendingStoriesOverlay.png", alt="")
          //- .trending--element
          //-   img(src="../images/trendingStoriesOverlay.png", alt="")

      hr

      .mainContent--container
        .storiesColumn--container
        //-  the code below replaced by Javascript
        //-   .story--container
        //-     .story--text
        //-        .title_category
        //-          .category Review |
        //-          .title Super Mario Kart
        //-            .author by zoolander
        //-        .summary Teslagrad is a 2D puzzle-platformer, where you play as a young lad who suddenly finds himself embroiled
        //-     .storyThumbnail--container
        //-       .storyThumbnail
        .discoverMoreColumn--container
          .discoverMore--container
            .discoverMoreTitle--container
              h2 Discover More
            .discoverMoreLinks--container
              div(class="discoverMoreLinks" id="Platformer") Platformer
              div(class="discoverMoreLinks" id="Shooter") Shooter
              div(class="discoverMoreLinks" id="Fighting") Fighting
              div(class="discoverMoreLinks" id="Stealth") Stealth
              div(class="discoverMoreLinks" id="Survival") Survival
              div(class="discoverMoreLinks" id="MMORPG") MMORPG
              div(class="discoverMoreLinks" id="Artillery") Artillery
              div(class="discoverMoreLinks" id="Idle") Idle
              div(class="discoverMoreLinks" id="Racing") Racing
              div(class="discoverMoreLinks" id="Wargame") Wargame
              div(class="discoverMoreLinks" id="Artillery") Artillery
              div(class="discoverMoreLinks" id="Trivia") Trivia


            //- .discoverMore--bottom
            //-   h2 middle






      div(id="heart_container")
        div(id="pixel__heart")
          div(id="pixelHeart-shadow")













    .container--empty
