extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .spacer
  .container
    .container--empty
    .container--main
      img(src="../images/trending.jpg", alt="trending" class="trending--img")
      .trending-container
        .trending-element-container
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")

      hr

      .mainContent--container
        .storiesColumn--container
        //-   .story--container
        //-     .story--text
        //-        .title_category
        //-          .category Review |
        //-          .title Super Mario Kart
        //-            .author by zoolander
        //-        .summary Teslagrad is a 2D puzzle-platformer, where you play as a young lad who suddenly finds himself embroiled
        //-     .storyThumbnail--container
        //-       .storyThumbnail
        .discoverMoreColumn--container
          .discoverMore--container
            .discoverMoreTitle--container
              h2 Discover More
            .discoverMoreLinks--container
              a(href="/" class="genreSelect")
                .discoverMoreLinks Platformer
              a(href="/" class="genreSelect")
                .discoverMoreLinks Shooter
              a(href="/" class="genreSelect")
                .discoverMoreLinks Fighting
              a(href="/" class="genreSelect")
                .discoverMoreLinks Stealth
              a(href="/" class="genreSelect")
                .discoverMoreLinks Survival
              a(href="/" class="genreSelect")
                .discoverMoreLinks MMORPG
              a(href="/" class="genreSelect")
                .discoverMoreLinks Artillery
              a(href="/" class="genreSelect")
                .discoverMoreLinks Idle
              a(href="/" class="genreSelect")
                .discoverMoreLinks Racing
              a(href="/" class="genreSelect")
                .discoverMoreLinks Wargame
              a(href="/" class="genreSelect")
                .discoverMoreLinks Artillery
              a(href="/" class="genreSelect")
                .discoverMoreLinks Trivia


            //- .discoverMore--bottom
            //-   h2 middle






      div(id="heart_container")
        div(id="pixel__heart")
          div(id="pixelHeart-shadow")













    .container--empty
