doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="/stylesheets/header.css")
      script(src="/javascripts/header.js" type="module" defer)
      title= title
  body
    .header
      .nav--container
        img(src="../images/pixel8logo.svg", alt="" class="logo")
        .nav
          .nav--element
            a(href="/" class="nav--link") Home
          .nav--element--divider |
          .nav--element
            a(href="/about" class="nav--link") About
          .nav--element--divider |
          if locals.authenticated
            .nav--element
              a(href="/" class="nav--link") New Post
            .nav--element--divider |
            .nav--element
              a(href="/users/logout" class="nav--link") Log Out
          else
            .nav--element
              a(href="/users/login" class="nav--link") Log In
            .nav--element--divider |
            .nav--element
              a(href="/users/register" class="nav--link") Register


    block content
    .footer--container
      .footer
        .site
          .footerFont Pixel8:
          a(href="https://github.com/kbetker/pixel8" target="_blank" rel="noopener noreferrer")
            img(src="../images/gitHubLogo.png" class="githubLogo")
        .zach
          .footerFont Zach Yu:
          a(href="https://github.com/zachmyu" target="_blank" rel="noopener noreferrer")
            img(src="../images/gitHubLogo.png" class="githubLogo")
          a(href="https://www.linkedin.com/in/zach-yu-9b86ab1b/" target="_blank" rel="noopener noreferrer")
            img(src="../images/linkedin.png" class="linkedIn")
        .felipe
          .footerFont Felipe Araujo:
          a(href="https://github.com/f-q-a" target="_blank" rel="noopener noreferrer")
            img(src="../images/gitHubLogo.png" class="githubLogo")
          a(href="https://www.linkedin.com/in/felipe-q-araujo/" target="_blank" rel="noopener noreferrer")
            img(src="../images/linkedin.png" class="linkedIn")
        .kevin
          .footerFont Kevin Betker:
          a(href="https://github.com/kbetker" target="_blank" rel="noopener noreferrer")
            img(src="../images/gitHubLogo.png" class="githubLogo")
          a(href="https://www.linkedin.com/in/kevin-betker-878505128/" target="_blank" rel="noopener noreferrer")
            img(src="../images/linkedin.png" class="linkedIn")


      //- link to github - page created by our names and to individual githubs
