extends layout

append head
    link(rel="stylesheet" href="/stylesheets/users-list.css")
block content
    .spacer
    .form--element--container
        table(class='table')
            thead(class='thead-dark')
                tr
                    th(scope='col') Name
                    th(scope='col') Username
                    th(scope='col') About
            tbody(class='tbody-light')
                each user in users
                    tr
                        td= user.fullName
                        td
                            a(href=`./users/${user.id}`)= user.username
                        td= user.about
