extends layout

append head
	script(src="/javascripts/genre-selector.js" type="module" defer)
	link(rel="stylesheet" href="/stylesheets/genre-selector.css")
block content
	.spacer
	h1= title
	p New user
