.container {
  margin-top: -8px;
  z-index: -88;
  background-image: url("../images/animatedBackground3.gif");
  image-rendering: pixelated;
  background-size: 100%;
  background-position-y: -388px;
  height: 1000px;
  width: 100%;
  padding-top: 88px;
}

.form--container {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 780px;
  color: #ffb43d;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding-top: 88px;
}

.form--element--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 333px;
  height: 333px;
}

.form--element {
  padding: 10px;
  width: 333px;
}
input {
  width: 226px;
  height: 20px;
}
textarea {
  width: 500px;
  height: 200px;
}
button {
  width: 233px;
  color: white;
  border-radius: 10px;
  background-color: #ffb43d;
  height: 40px;
  font-size: large;
  font-weight: bold;
}

h1 {
  color: white;
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
}
