extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .container
    .container--empty
    .container--main
      img(src="../images/trending.jpg", alt="trending" class="trending--img")
      .trending-container
        .trending-element-container
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")
          .trending--element
            img(src="../images/trendingStoriesOverlay.png", alt="")

      hr

      .mainContent--container
        .storiesColumn--container
           .story--container
           .story--container
           .story--container
           .story--container
           .story--container
           .story--container
           .story--container





        .discoverMoreColumn--container
          .discoverMore--container
            .discoverMore--title
              h2 Discover More
            .discoverMore--links
              h2 middle
            .discoverMore--bottom
              h2 middle






      div(id="heart_container")
        div(id="pixel__heart")
          div(id="pixelHeart-shadow")













    .container--empty
