extends layout.pug

include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  .spacer
  .container

    .form--container
      //- +validationErrorSummary(errors)
      form(action='/users/login' method='post')
        .form--element--container
          input(type='hidden' name='_csrf' value=csrfToken)
          .form--element
            if errors
              div(class='alert alert-danger' role='alert')
                h2 The following error(s) occurred:
                ul
                  each error in errors
                    li= error
            else
              h1 User Login
          .form--element
            label(for="username")
              p Username
            input(type="text" name="username" id="username")

          .form--element
            label(for="password")
              p Password
            input(type="text" name="password" id="password")

          .form--element
            button(type='submit' class='btn btn-primary') Login
          .form--element
            p: a(href='/users/register') Don't have an account?
